spring:
  datasource:
    url: jdbc:h2:mem:maindb

  application:
    name: hw06

  sql:
    init:
      mode: always
      data-locations: data.sql
      schema-locations: schema.sql

  jpa:
    show-sql: true

    hibernate:
      ddl-auto: validate

    properties:
      hibernate:
        jdbc:
          batch_size: 10
        order_inserts: true

  shell:
    interactive:
      enabled: true
    command:
      exit:
        enabled: true
